@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  color: var(--black);
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

:root {
  --black: #000;
  --white: #FFF;
  --main: #72BF44;
  --neutral: #BBBBBB;
  --featured: #E63F36;
  --secondary: #fae800;
}

button {
  cursor: pointer;
}