.products {
  width: 80%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.products__title {
  margin-bottom: 3rem;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.products__list--item {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 10px;
  position: relative;
  padding-right: 10px;
  margin-bottom: 20px;
}

@media (max-width: 970px) {
  .products {
    width: 90%;
  }

  .products__list--item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 768px) {
  .products {
    width: 95%;
  }

  .products__list--item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}